.AnswerItem {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.AnswerItem:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: bacground 0.3s ease-in-out;
}

.AnswerItem.success {
  background: green;
}

.AnswerItem.error {
  background: red;
}
